<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krystal.blog.common.mapper.AdminMapper">

    <!--  分页查询  -->
    <select id="getAdminList" resultType="com.krystal.blog.common.model.Admin">
        select * from admin
        where 1=1
        <if test="info.username != null and info.username != ''">
            and username like concat('%', #{info.username}, '%')
        </if>
        <if test="info.userId != null and info.userId != ''">
            and u.userId like concat('%', #{info.userId}, '%')
        </if>
        <if test="info.status != null and info.status != ''">
            and status = #{info.status}
        </if>
    </select>
</mapper>