<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krystal.blog.common.mapper.ArticleLikeMapper">

    <!--  分页查询  -->
    <select id="getArticleLikeList" resultType="com.krystal.blog.common.model.vo.ArticleLikeVo">
        select
            al.*,
            u.username userName,
            a.title articleTitle
        from article_like al
        left join user u on al.user_id = u.id
        left join article a on a.id = al.article_id
        where 1=1
        <if test="info.userName != null and info.userName != ''">
            and u.username like concat('%', #{info.userName}, '%')
        </if>
        <if test="info.id != null and info.id != ''">
            and al.id like concat('%', #{info.id}, '%')
        </if>
        <if test="info.articleTitle != null and info.articleTitle != ''">
            and a.title like concat('%', #{info.articleTitle}, '%')
        </if>
    </select>

</mapper>