<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krystal.blog.common.mapper.ArticleTypeMapper">

    <!--  分页查询  -->
    <select id="getArticleTypeList" resultType="com.krystal.blog.common.model.vo.ArticleTypeVo">
        select *
        from article_type
        where 1=1
        <if test="info.id != null and info.id != ''">
            and id like concat('%', #{info.id}, '%')
        </if>
        <if test="info.typeName != null and info.typeName != ''">
            and type_name like concat('%', #{info.typeName}, '%')
        </if>
    </select>

</mapper>