<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krystal.blog.common.mapper.ArticleCommentMapper">

    <!--  查询文章评论  -->
    <select id="getArticleCommentList" resultType="com.krystal.blog.common.model.vo.ArticleCommentVo">
        select
            ac.*, u.username userName, acp.content parentContent
        from article_comment ac
        left join user u on ac.user_id = u.id
        left join article_comment acp on acp.id = ac.pid
        where 1=1
        <if test="info.content != null and info.content != ''">
            and ac.content like concat('%', #{info.content}, '%')
        </if>
    </select>

</mapper>